<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Моята Социална Мрежа</title>
    <link rel="stylesheet" href="register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <nav>
                <a href="#"><i class="fa-solid fa-house-user"></i> Home</a>
                <a href="#"><i class="fa-solid fa-plus"></i> Add</a>
                <a href="#"><i class="fa-solid fa-circle-user"></i> username</a>
                <a href="#"><i class="fa-solid fa-clipboard-list"></i> Register</a>
                <a href="#"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                <a href="#"><i class="fa-solid fa-door-open"></i> Log out</a>
            </nav>
        </aside>
        <main>
            <div class="register-container">
                <form class="register-form">
                    

                    <input type="text" placeholder="Username" required>
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Password" required>
                    <input type="password" placeholder="Confirm password" required>

                    <button type="submit">Register</button>

                    <div class="divider">Or</div>

                    <a href="#" class="login-link">You have an account? Login</a>
                </form>
            </div>
        </main>

    </div>
</body>

</html>