.upload-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #121212;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

.upload-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.upload-form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.upload-form input,
.upload-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #1e1e1e;
  border: 1px solid #333;
  color: white;
  border-radius: 4px;
}

.upload-form button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: #3897f0;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.upload-form button:hover {
  background-color: #2b77c2;
}
.upload-form button:disabled {
  background-color: #333;
}
.error{
  color:red;
  font-size:14px;
  font-style: italic;
  margin-bottom: 15px;
}
