.profile-container {
    max-width: 900px;
    margin:  auto;
    padding: 50px 20px;
    
}

.profile-header {

    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    padding-left: 25%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

.top-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.username {
    font-size: 24px;
    margin: 0;
}

.edit-btn {
    background-color: #222;
    color: #fff;
    padding: 8px 12px;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.edit-btn:hover {
    background-color: #333;
}

.stats {
    display: flex;
    gap: 20px;
    margin: 15px 0;
}

.bio {
    font-size: 14px;
    color: #ccc;
}

/* Gallery grid */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    margin-top: 30px;
}

.gallery img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 4px;
}

.posts-container {

    display: flex;
    flex-wrap: wrap;
    /* позволява пренасяне на следващ ред */
    gap: 16px;
    /* разстояние между постовете */
    margin-top: 30px;
}

.post {
    width: calc(33.33% - 16px);
    /* 3 поста на ред с gap */
    box-sizing: border-box;
    border: 1px solid #333;
    
    
    text-align: center;
}

.post img {
    width: 100%;
    height: 70%;
    /* border-radius: 4px; */
}
a{
    text-decoration: none;
    color:white
}
.posts-username-header{
    margin-top: 15px;
    text-align: center;
}
.title-para{
    padding: 20px;
    overflow-wrap: break-word;
}
.register-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  padding: 40px 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
}
.register-form {
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

input {
  background-color: #222;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 15px;
  color: #fff;
}

input::placeholder {
  color: #aaa;
}

button {
  background-color: #3897f0;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #2e80d9;
}
button:disabled{
  background-color: #666;
}
.divider {
  text-align: center;
  margin: 20px 0;
  color: #666;
  font-size: 14px;
}

.login-link {
  text-align: center;
  display: block;
  color: #3897f0;
  text-decoration: none;
  font-size: 14px;
}

.login-link:hover {
  text-decoration: underline;
}
.error{
  color:red;
  font-size:14px;
  font-style: italic;
  margin-bottom: 15px;
}
