main{
    padding-top: 50px;
}

.details-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0px auto;
  background-color: #121212;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Arial, sans-serif;
}

.post-image img {
  width: 100%;
  height: auto;
  display: block;
}

.post-info {
  padding: 20px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  overflow-wrap: break-word;
}

.post-author {
  font-size: 14px;
  color: #aaa;
}

.header-action{
    display: flex;
    
    align-items: center;
    margin-bottom: 20px;
}
.post-action {
    padding-right: 10px;
    font-size: 1.5em;
}

.post-action:hover {
    color: green;
}

.btn-edit-mode{
  width: 100px;
  display: block;
  margin-left: 700px;
}
.upload-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #121212;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

.upload-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.upload-form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.upload-form input,
.upload-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #1e1e1e;
  border: 1px solid #333;
  color: white;
  border-radius: 4px;
}

.upload-form button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: #3897f0;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.upload-form button:hover {
  background-color: #2b77c2;
}
.upload-form button:disabled {
  background-color: #333;
}
.error{
  color:red;
  font-size:14px;
  font-style: italic;
  margin-bottom: 15px;
}
a{
  text-decoration: none;
  color: white;
  
}
/* a:hover{
  color:red */
/* } */

.fa-heart{
  font-size: 1.3em;
  cursor: pointer;
}
.liked{
  color: red;
}
.author-para{
  cursor: pointer;
}
.author-para:hover{
  color:white
}