/* You can add global styles to this file, and also import other style files */
/* Основни настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

/* Основен контейнер */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    display: block;
    width: 15%;
    height: 100vh;
    background-color: #111;
    padding: 20px;
    position: fixed;
    border-right: 1px solid #333;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    padding-top: 40%;


}

.sidebar nav a {

    color: #ccc;
    margin-bottom: 30px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.sidebar nav a:hover {
    color: #fff;
}